* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
}

body {
  font-family: lucida sans unicode, lucida grande, sans-serif;
  line-height: 1.7;
}

.App {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;

  a {
    color: #7860ff;
    text-decoration: none;
    border-bottom: 2px solid #7860ff;
  }
}

.container {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

  div {
    font-size: 12px;
    text-align: center;
  }
}

.column {
  width: 50%;
}

header {
  -webkit-font-feature-settings: "smcp";
  font-feature-settings: "smcp";
  border-bottom: 3px solid #eee;
  font-variant: small-caps;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

header {
  background-color: #fff;
  padding: 10px;
  z-index: 2;
}

.a {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

  .c {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
}
