* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
}

body {
  font-family: lucida sans unicode, lucida grande, sans-serif;
  line-height: 1.7;
}

.App {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.red {
  background-color: red !important;
}

.green {
  background-color: greenyellow !important;
}

.container {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;

  .dialog {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-color: #eee;
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px 2px 3px;
    margin: 20px;
    padding: 10px;
    width: 60vw;
    flex-direction: column;
    align-items: center;

    img {
      border-radius: 2rem;
      border-style: solid;
      border-color: #dddddd;
      border-width: 2px 4px 6px;
    }
  }

  input,
  button {
    height: 30px;
    border: 1px solid #ccc;
    margin: 2px;
  }

  button {
    width: 60px;
  }

  img {
    width: 200px;
  }
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

  div {
    font-size: 12px;
    text-align: center;
  }
}

header {
  -webkit-font-feature-settings: "smcp";
  font-feature-settings: "smcp";
  border-bottom: 3px solid #eee;
  font-variant: small-caps;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

header {
  background-color: #fff;
  padding: 10px;
  z-index: 2;
}
